header {
    background-color:#c09891ff;
    color: #775144ff;
}

p {
    color: white
}

footer {
    background-color: #775144ff;
    color: #775144ff;
}

body {
    background-color: #2a0800ff;
    color: #775144ff;
}

body a {
    color: #f4dbd8ff;
}
 strong{
   color: #fd7d22;
 }