header{
    background-color: #ff8fa3; /* Rosa Claro */
    color: white; /* Branco */
}
p{
    color: black; /* Preto*/
}
footer{background-color: #ff0a54;  /* Rosa Pink */
color: white; /* Branco */ 
}
body{
    background-color: #590d22; /* Vinho */
    color: white; /* Branco */
}
body a{
    color: white; /* Branco*/
}